
body {
    background-color: #42ce4e; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    text-align: center;
    padding: 30px;
    background: #ecf0f1; 
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    max-width: 500px;
}

h1 {
    color: #2980b9;
    margin-bottom: 20px;
}

p {
    color: #34495e;
    line-height: 1.6;
}